*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(167, 167, 167);
}

.container {
  position: relative;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-js {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(193, 193, 193);
  width: 304px;
  height: 304px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn-style {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  font-size: 50px;
}

.remove-js {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 8px;
  font-size: 20px;
  background: -webkit-linear-gradient(90deg, #00c4cc, #6420ff, #7d2ae7);
  background: linear-gradient(90deg, #00c4cc, #6420ff, #7d2ae7);
  border-radius: 5px;
  font-weight: 600;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.remove-js:hover {
  transform: scale(1.05);
}

.style-counter {
  position: absolute;
  top: -1%;
  left: 8%;
}

.victory1-js {
  display: none;
}
.victory1-js.is-open {
  display: flex;
}
.victory1-js::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 300px;
  height: 10px;
  border-radius: 3px;
  background-color: blue;
}

.victory2-js {
  display: none;
}
.victory2-js.is-open {
  display: flex;
}
.victory2-js::after {
  position: absolute;
  top: 150px;
  left: 0;
  content: "";
  width: 300px;
  height: 10px;
  border-radius: 3px;
  background-color: blue;
}

.victory3-js {
  display: none;
}
.victory3-js.is-open {
  display: flex;
}
.victory3-js::after {
  position: absolute;
  top: 250px;
  left: 0;
  content: "";
  width: 300px;
  height: 10px;
  border-radius: 3px;
  background-color: blue;
}

.victory4-js {
  display: none;
}
.victory4-js.is-open {
  display: flex;
}
.victory4-js::after {
  position: absolute;
  top: 146px;
  left: -99px;
  content: "";
  width: 300px;
  height: 10px;
  border-radius: 3px;
  transform: rotate(90deg);
  background-color: blue;
}

.victory5-js {
  display: none;
}
.victory5-js.is-open {
  display: flex;
}
.victory5-js::after {
  position: absolute;
  top: 146px;
  left: 0;
  content: "";
  width: 300px;
  height: 10px;
  border-radius: 3px;
  transform: rotate(90deg);
  background-color: blue;
}

.victory6-js {
  display: none;
}
.victory6-js.is-open {
  display: flex;
}
.victory6-js::after {
  position: absolute;
  top: 146px;
  left: 101px;
  content: "";
  width: 300px;
  height: 10px;
  border-radius: 3px;
  transform: rotate(90deg);
  background-color: blue;
}

.victory7-js {
  display: none;
}
.victory7-js.is-open {
  display: flex;
}

.victory7-js::after {
  position: absolute;
  top: 147px;
  left: -61px;
  content: "";
  width: 422px;
  height: 10px;
  border-radius: 3px;
  transform: rotate(45deg);
  background-color: blue;
}

.victory8-js {
  display: none;
}

.victory8-js.is-open {
  display: flex;
}

.victory8-js::after {
  position: absolute;
  top: 148px;
  left: -59px;
  content: "";
  width: 422px;
  height: 10px;
  border-radius: 3px;
  transform: rotate(-45deg);
  background-color: blue;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.modal-window-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 408px;
  min-height: 300px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(
    90deg,
    #0011ff,
    #8c00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #0011ff,
    #8c00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 420px) {
  .modal-window-inner {
    width: 340px;
  }
}

/* '''''кнопка закриття модального вікна і параграф''''' */
.button-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #e7e9fc;
  cursor: pointer;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close:hover {
  border: none;
  background-color: #ffffff;
}

.button-modal-close:focus {
  border: none;
  background-color: #ffffff;
}
.button-modal-close:active {
  border: none;
  background-color: #ffffff;
}
.container-for-label {
  margin-bottom: 15px;
}

.label-for-text {
  display: block;
  margin-bottom: 4px;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.modal__input {
  border: 2px solid rgba(0, 13, 255, 0.4);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: white;
  outline: transparent;
  color: #000000;
  font-family: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button in modal */
.modal-button {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  min-width: 169px;
  height: 56px;
  background: -webkit-linear-gradient(90deg, #00c4cc, #6420ff, #7d2ae7);
  background: linear-gradient(90deg, #00c4cc, #6420ff, #7d2ae7);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-button:hover {
  background-color: #404bbf;
  transform: scale(1.05);
}
.modal-button:active {
  background-color: #404bbf;
  transform: scale(1.05);
}

.modal-button:focus {
  background-color: #404bbf;
  transform: scale(1.05);
}

.player1 {
  position: fixed;
  top: 20px;
  left: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #0013e4;
}

.player2 {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #0013e4;
}

.player1 :first-child {
  color: #ff0000;
}

.player2 :first-child {
  color: #ff0000;
}

.menu-js {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  background-color: #0013e4;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: -webkit-linear-gradient(90deg, #00c4cc, #6420ff, #7d2ae7);
  background: linear-gradient(90deg, #00c4cc, #6420ff, #7d2ae7);
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-js:hover {
  transform: scale(1.05);
}
